body {
  background-color: #010E45 !important;
}

.nav_header {
  background-color: #010E45;
  display: flex;
  gap: 40px;
  list-style: none;
  text-align: center;
  padding: 25px;
  justify-content: center;
}

/* .nav_header li:nth-child(1){
  margin-left: auto;
} */

.nav_link {
  color: white;
  font-weight: 700;
  text-decoration: none;
  transition: 0.9s all;
}

.nav_link:hover {
  color: red;
  text-decoration: underline;
}


.card_c {
  width: 380px !important;
  /* height: 250px !important; */
  border-radius: 10px;
  /* border: 2px solid; */
  
}
.card_h{
  font-size: 30px;
}


.card_no{
  font-size:80PX ;
  font-weight: 600;
}

/* button */
.button {
  padding: 10px;
  border-radius: 5px;
  background-color: #0D6EFD;
  color: white;
  font-size: 20px;
  font-weight: 600;
}



.dropbtn {
  color: white;
  padding: 11px 19px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding-top: 20px;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color:red;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropbtn {
  color: white;
  padding: 11px 19px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  padding-top: 20px;
  position: absolute;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color:red;
}

.dropdown:hover .dropdown-content {
  display: block;
}




/* teble style */

.ltr_result {
  margin-top: 120px;
}


/* Result heading */

.r_h {
  padding: 20px 50px 37px;
  background-image: url(./img/result_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.tr_head {
  /* border: 1px solid; */
}

.tr-s {
  border: 1px solid white;
}

.tb-s {
  /* border: 1px solid white; */
  width: 100%;
}


/* Add section table  */

.add_table {
  margin-top: 130px;
}


/* about section */

.about_s{
  margin-top: 100px;
  text-align: center;
}
.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* footer */

.footer{
  margin-top: 120px;

}



.add_td{
  border-right: 1px solid black;
  border-bottom: 2px solid black;
}










/* Media Query for Mobile Devices */ 
@media (max-width: 480px) { 
  


  .nav_link {
    font-weight: 700;
    font-size: 11px;
  }

  .card_c:nth-child(3){
    width: 200px !important;
  }
  .card_c {
    width: 170px !important;
    /* height: 250px !important; */
    border-radius: 10px;
    /* border: 2px solid; */
    
  }
  .card_h{
    font-size: 20px;
  }
  
  
  .card_t{
    font-size:12PX ;
    font-weight: 600;
  }
  .card_no{
    font-size:40PX ;
    font-weight: 600;
  }
  
  .card_massage{
    font-size:12PX ;
    font-weight: 600;
  }
  



} 
